In [36]:
import pandas as pd

In [37]:
df = pd.read_json("bookingcom.json", orient='columns')

In [38]:
df.head(20)

,city,country,host,id,price,review,stars,timestamp,titre
0,\n Gammarth\n,Tunisia,booking.com,179422,"\n€ 3,472\n",8.6,5.0,2018-06-24 21:37:02.802253,\nThe Residence Tunis\n
1,"\n Tunis Centre , Tunis\n",Tunisia,booking.com,255777,\n€ 896\n,8.0,3.0,2018-06-24 21:37:02.802253,\nHotel Carlton\n
2,\n Yasmine Hammamet\n,Tunisia,booking.com,249849,None,6.7,4.0,2018-06-24 21:37:02.802253,\nVincci Nozha Beach\n
3,\n Gammarth\n,Tunisia,booking.com,42038,"\n€ 1,666\n",6.1,5.0,2018-06-24 21:37:02.802253,\nEl Mouradi Gammarth\n
4,\n Yasmine Hammamet\n,Tunisia,booking.com,235214,"\n€ 2,784\n",8.5,5.0,2018-06-24 21:37:02.802253,\nThe Russelior Hotel & Spa\n
5,\n Tunis\n,Tunisia,booking.com,42040,\n€ 938\n,6.9,4.0,2018-06-24 21:37:02.802253,\nGolden Tulip El Mechtel\n
6,\n Yasmine Hammamet\n,Tunisia,booking.com,42058,"\n€ 1,546\n",5.7,3.0,2018-06-24 21:37:02.802253,\nHotel La Couronne\n
7,\n Midoun\n,Tunisia,booking.com,42068,"\n€ 2,620\n",7.7,4.0,2018-06-24 21:37:02.802253,\nCaribbean World Thalasso Djerba - All Inclus...
8,"\n Tunis Centre , Tunis\n",Tunisia,booking.com,42028,"\n€ 1,142\n",7.2,5.0,2018-06-24 21:37:02.802253,\nEl Mouradi Hotel Africa Tunis\n
9,\n Yasmine Hammamet\n,Tunisia,booking.com,180105,None,9.0,5.0,2018-06-24 21:37:02.802253,\nHasdrubal Thalassa & Spa Yasmine Hammamet\n
10,\n Yasmine Hammamet\n,Tunisia,booking.com,175586,"\n€ 3,049\n",8.3,4.0,2018-06-24 21:37:02.802253,\nIberostar Averroes\n
11,\n Yasmine Hammamet\n,Tunisia,booking.com,42032,"\n€ 1,924\n",8.3,4.0,2018-06-24 21:37:02.802253,\nSentido Le Sultan\n
12,\n Yasmine Hammamet\n,Tunisia,booking.com,42114,"\n€ 2,457\n",8.1,5.0,2018-06-24 21:37:02.802253,\nThe Sindbad\n
13,\n Port El Kantaoui\n,Tunisia,booking.com,42103,"\n€ 2,596\n",8.1,4.0,2018-06-24 21:37:02.802253,\nSeabel Alhambra Beach Golf & Spa\n
14,\n Tunis\n,Tunisia,booking.com,238176,"\n€ 1,864\n",6.4,3.0,2018-06-24 21:37:02.802253,\nAmbassadeurs Hotel\n
15,\n Tunis\n,Tunisia,booking.com,180072,"\n€ 1,060\n",7.2,5.0,2018-06-24 21:37:02.802253,\nTunis Grand Hotel\n
16,\n Yasmine Hammamet\n,Tunisia,booking.com,175643,"\n€ 1,871\n",7.5,4.0,2018-06-24 21:37:02.802253,\nMedina Belisaire And Thalasso\n
17,\n Beirut\n,Lebanon,booking.com,1990193,\n€ 866\n,8.8,NaN,2018-06-24 21:37:02.802253,\nStudio 44\n
18,\n Broummana\n,Lebanon,booking.com,73125,"\n€ 3,549\n",8.5,5.0,2018-06-24 21:37:02.802253,"\nGrand Hills, a Luxury Collection Hotel & Spa\n"
19,\n Ehden\n,Lebanon,booking.com,303716,None,7.8,4.0,2018-06-24 21:37:02.802253,\nEhden Country Club\n

In [39]:
len(df)

5105

In [40]:
df.dropna(subset=['titre', 'price','stars','id','country','city'],inplace=True)
df.drop_duplicates(subset=['id'], keep='last',inplace=True)

In [41]:
len(df)

1398

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1398 entries, 0 to 5102
Data columns (total 9 columns):
city         1398 non-null object
country      1398 non-null object
host         1398 non-null object
id           1398 non-null int64
price        1398 non-null object
review       1313 non-null float64
stars        1398 non-null float64
timestamp    1398 non-null datetime64[ns]
titre        1398 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 109.2+ KB

In [43]:
def get_digit(x):
    if isinstance(x, str):
        #print(x)
        if x is not None:
            s =''
            for i in x:
                if i.isdigit():
                    s+=i
        return float(s)
    return x

df['price'] = df['price'].apply(lambda x: get_digit(x))
df['stars'] = df['stars'].apply(lambda x: int(get_digit(x)))
df['review'] = df['review'].apply(lambda x: get_digit(x))

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1398 entries, 0 to 5102
Data columns (total 9 columns):
city         1398 non-null object
country      1398 non-null object
host         1398 non-null object
id           1398 non-null int64
price        1398 non-null float64
review       1313 non-null float64
stars        1398 non-null int64
timestamp    1398 non-null datetime64[ns]
titre        1398 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 109.2+ KB

In [45]:
df.head()

,city,country,host,id,price,review,stars,timestamp,titre
0,\n Gammarth\n,Tunisia,booking.com,179422,3472.0,8.6,5,2018-06-24 21:37:02.802253,\nThe Residence Tunis\n
1,"\n Tunis Centre , Tunis\n",Tunisia,booking.com,255777,896.0,8.0,3,2018-06-24 21:37:02.802253,\nHotel Carlton\n
3,\n Gammarth\n,Tunisia,booking.com,42038,1666.0,6.1,5,2018-06-24 21:37:02.802253,\nEl Mouradi Gammarth\n
4,\n Yasmine Hammamet\n,Tunisia,booking.com,235214,2784.0,8.5,5,2018-06-24 21:37:02.802253,\nThe Russelior Hotel & Spa\n
5,\n Tunis\n,Tunisia,booking.com,42040,938.0,6.9,4,2018-06-24 21:37:02.802253,\nGolden Tulip El Mechtel\n

In [46]:
len(df)

1398

In [47]:
import unidecode
def clean_removeUnicodes(x):
    if isinstance(x, str):
        return unidecode.unidecode(x)
    return x
df['titre'] = df.titre.str.lower().str.strip()
df['titre'] = df['titre'].apply(lambda x: clean_removeUnicodes(x))

df['city'] = df.city.str.lower().str.strip()
df['city'] = df['city'].apply(lambda x: clean_removeUnicodes(x))

df['country'] = df.country.str.lower().str.strip()
df['country'] = df['country'].apply(lambda x: clean_removeUnicodes(x))

df.head()

,city,country,host,id,price,review,stars,timestamp,titre
0,gammarth,tunisia,booking.com,179422,3472.0,8.6,5,2018-06-24 21:37:02.802253,the residence tunis
1,"tunis centre , tunis",tunisia,booking.com,255777,896.0,8.0,3,2018-06-24 21:37:02.802253,hotel carlton
3,gammarth,tunisia,booking.com,42038,1666.0,6.1,5,2018-06-24 21:37:02.802253,el mouradi gammarth
4,yasmine hammamet,tunisia,booking.com,235214,2784.0,8.5,5,2018-06-24 21:37:02.802253,the russelior hotel & spa
5,tunis,tunisia,booking.com,42040,938.0,6.9,4,2018-06-24 21:37:02.802253,golden tulip el mechtel

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1398 entries, 0 to 5102
Data columns (total 9 columns):
city         1398 non-null object
country      1398 non-null object
host         1398 non-null object
id           1398 non-null int64
price        1398 non-null float64
review       1313 non-null float64
stars        1398 non-null int64
timestamp    1398 non-null datetime64[ns]
titre        1398 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 109.2+ KB

In [10]:
accented_string = 'H\u00f4tel Al L\u00e9man'
# accented_string is of type 'unicode'
import unidecode
unaccented_string = unidecode.unidecode(None)
unaccented_string

AttributeError: 'NoneType' object has no attribute 'encode'

In [116]:
df.to_csv("hotelscom.csv")